<div class="col-sm-3">
    <div class="card" (click)="statusToggle()" [class.completed]="task.completed"> <!--Event binding with (click)="statusToggle()" -->
        <div class="card-block">
            <p>{{ task.content }}</p>
         </div>
        <div class="card-footer">
            <span *ngIf="!task.completed"><i class="fa fa-times" aria-hidden="true"></i>Not Completed</span> <!-- '<span></span>' joing the elements && *ngIf="!task.completed" display this icon/text if task is not completed -->
            <span *ngIf="task.completed"><i class="fa fa-check" aria-hidden="true"></i>Completed</span> <!-- '<span></span>' joing the elements && *ngIf="!task.completed" display this icon /text if task is completed -->
        </div> 
    </div>
</div>