<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3"> <!--takes hald of the parent's 12 col starting from 3rd-->
            <form class="form-inline" (ngSubmit)="addTask()">      <!--"form-inline means forms won't' stack on each other"// ()= is event binding-->
                <div class="form-group">
                    <label for="content-field" class="sr-only"></label> <!--"sr-only means to be visible to screen reader only"-->
                    <input type="text" class="form-control" placeholder="Enter a task..." [(ngModel)]="currentTask.content" name="content">  <!--"[(ngModel)] is used for two-way data binding within a form"-->              
                </div>  
                <button type="submit" class="btn btn-primary"><i class="fa fa-tasks" aria-hidden="true"></i>Add Task</button>
                <!--Content: {{ currentTask.content }}   "Testing two-way data binding"-->
            </form>
        </div>
    </div>
    <div class="class row">
        <app-card *ngFor="let task of tasks" [task]="task"></app-card>       <!--task]="task" is input property for the card component-->
    </div>
    
</div>